*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Estilização mobile*/
#content-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 5%;
}
#descr{
    margin-top: 1%;
    font-weight: 300;
    font-size: 20px;
}
#form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;   
    width: 100%;
}
#form label{
    font-size: 12px;
    font-weight: 300;
    margin: 1% 0 1% 0;
}
#form input{
    padding: 3%;
    margin-bottom: 4%;
    border: none;
    border-radius: 4px;
    outline-style: none;
    background-color: #F8F3F3;
}
#form button{
    margin-top: 4%;
    font-weight: bold;
    background-color: #34AF23;
    padding: 3%;
    color: #FFFF;
    outline-style: none;
    border: none;
    border-radius: 4px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#form button:hover{
    background-color:#1b5513;
}
#warning-data{
    margin-top: 5%;
    font-size: 12px;
    font-weight: 300;
    color: #FF0000;
}
#text-informations{
    background-color: #6967B6;
    padding: 5%;
    bottom: 0;
    margin-bottom: 0;
}
#text-informations h2{
    color: #FFFF;
    font-weight: 400;
}
#text-informations p{
    color: #FFFF;
    margin-top: 3%;
    margin-bottom: 3%;
    font-weight: 200;
    line-height: 25px;
}
#img-footer{
    display: flex;
    justify-content: center;
}
#img-footer img{
    width: 10%;
}

/*Estlização para desktop*/

@media(min-width: 760px){
    #descr{
        margin-top: 10%;
    }
    #content-main{
        position: relative;
        float: left;
        width: 40%;
        height: 100%;
    }
    #text-informations{
        position: relative;
        float: right;
        width: 40%;
        height: 80vh;
        padding: 5%;
    }
    #text-informations h2{
        font-size: 35px;
    }
    #text-informations p{
        margin-top: 10%;
        font-size: 25px;
        line-height: 70px;
    }
    #img-footer{
        margin-top: 20%;
    }
   
}